.header {
  position: absolute;
  z-index: 999999;
}

.logo {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 70vw;
  max-width: 400px;
  transition-property: width, max-width, top, left, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

@media (min-width: 800px) {
  .logo {
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .logo {
    left: 2em;
  }
}

.logo rect,
.logo polygon,
.logo path {
  fill: var(--colour-brand);
}

.logoHome {
  max-width: 80vw;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .logoHome {
    max-width: 60vw;
  }
}

.logoCollapse {
  max-width: 200px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--colour-brand);
  z-index: 100;
}
