@media (min-width: 1200px) {
  .wrapper {
    display: flex;
  }

  .column {
    width: 50%;
    margin: 0;
    padding: 0 2em;
  }

  .reversed .column:first-child {
    order: 1;
  }

  .content {
    position: sticky;
    top: 2em;
  }
}
