.content {
  margin: 1em 0 3em 0;
  padding: 0 2em;
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

.columns {
  margin-top: 3em;
}

.column:first-child {
  height: 35vh;
}

.column:last-child {
  padding: 2em;
}

.headerWrapper {
  position: relative;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (min-width: 800px) {
  .headerWrapper {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (min-width: 1200px) {
  .headerWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.headerImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  margin: 0;
  margin-top: 2em;
}

.info {
  margin-top: 2em;
}

.date {
  margin: 0;
  margin-top: 1em;
  font-weight: 500;
}

@media (min-width: 800px) {
  .column:first-child {
    height: 50vh;
  }
}

@media (min-width: 1200px) {
  .description {
    max-width: 700px;
  }

  .columns {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    margin-top: 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 3.5em 2em;
    box-sizing: border-box;
  }

  .column:first-child {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 100vh;
  }

  .column:last-child {
    align-self: center;
  }

  .headerWrapper {
    flex: 1;
    background-color: #eeeeee;
    max-height: 100vh;
    max-height: calc(100vh - 7em);
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  .columns,
  .column:first-child {
    min-height: 800px;
  }
}

@media (min-width: 1500px) and (min-height: 900px) {
  .columns,
  .column:first-child {
    min-height: 100vh;
  }
}

@media (min-width: 1500px) and (min-height: 1100px) {
  .columns,
  .column:first-child {
    min-height: 1100px;
  }
}
