@import 'normalize.css';
@import 'prism-themes/themes/prism-one-light.css';

:root {
  --colour-text: #1f2a51;
  --colour-text-faded: #1f2a51cc;
  --colour-brand: #fd4440;
  --colour-brand-faded: #fd444060;
}

html {
  scroll-behavior: smooth;
}

#page-wrapper {
  /* overflow: hidden; */
  /* font-variant-ligatures: none; */
  font-family: var(--font-body);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 22px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--colour-text);
  padding: 0 4em;
  max-width: 2000px;
  margin: 0 auto;
}

* {
  scroll-margin-top: 1.5em;
}
