@import 'normalize.css';
@import 'prism-themes/themes/prism-one-light.css';

:root {
  --colour-text: #1f2a51;
  --colour-text-faded: #1f2a51cc;
  --colour-brand: #fd4440;
  --colour-brand-faded: #fd444060;
}

html {
  scroll-behavior: smooth;
}

#page-wrapper {
  /* overflow: hidden; */
  /* font-variant-ligatures: none; */
  font-family: var(--font-body);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--colour-text);
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 800px) {
  #page-wrapper {
    font-size: 22px;
  }
}

* {
  scroll-margin-top: 1.5em;
}

.rnf-notification-cell__content p {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.rnf-notification-feed__knock-branding {
  display: none;
}
