.contentContainer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .contentContainer {
    margin-left: 18rem;
  }

  .columns {
    display: flex;
    margin: 0 -2rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0 2rem;
  }

  .columnsReversed .column:first-child {
    order: 1;
  }
}

@media (min-width: calc(900px + 36rem + 4rem + 1rem)) {
  .contentContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
