.heading {
  font-family: var(--font-lato);
  font-weight: 700;
}

.h2 {
  composes: heading;
  font-size: 2.5em;
}

.large {
  font-size: 1.23em;
  font-weight: 400;
}

.highlight {
  color: #d04759;
}

.textLinks a:not([class]) {
  color: #d04759;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  text-decoration-color: #d0475960;
}

.textLinks a:not([class]):hover {
  text-decoration-color: #d04759;
}

@media print {
  .textLinks a:not([class]) {
    color: inherit !important;
    text-decoration: none !important;
  }
}
