.heading {
  font-family: var(--font-lato);
  font-weight: 700;
}

.h2 {
  composes: heading;
  font-size: 2.5em;
}

.large {
  font-size: 1.23em;
  font-weight: 400;
}

.highlight {
  color: var(--colour-brand);
}

.textLinks a:not([class]) {
  color: var(--colour-brand);
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--colour-brand-faded);
}

.textLinks a:not([class]):hover {
  text-decoration-color: var(--colour-brand);
}

@media print {
  .textLinks a:not([class]) {
    color: inherit !important;
    text-decoration: none !important;
  }
}
