.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.placeholder {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: ease-in-out;
  background-color: #eeeeee;
}

@keyframes placeHolderShimmer {
  0% {
    background-color: #eeeeeeff;
  }
  50% {
    background-color: #eeeeee66;
  }
  100% {
    background-color: #eeeeeeff;
  }
}
