.pre,
.pre > code {
  color: var(--colour-text) !important;
  color: var(--colour-text-faded) !important;
  font-family: var(--font-overpass-mono) !important;
  font-weight: 400;
}

/* .pre > code {
  opacity: 0;
  transition: opacity 0.5s;
}

.mounted code {
  opacity: 1;
} */
