.code {
  display: inline-block;
  white-space: pre;
  overflow-x: auto;
  padding: 0.1em 0.5em;
  background-color: oldlace;
  vertical-align: middle;
}

.code:first-child:last-child {
  padding: 1em 1.5em;
}
